.carouselContainer {
    padding: 0 2rem;
    background-color: rgba(53,60,60, 0.42);
    margin-top: 1rem;
    @media only screen and (min-width: 949px) {
        padding: 1rem 8rem 0; 
    }
}
.carouselBox {
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
    width: 30px!important;
    height: 30px!important;
}
.carouselBox:hover {
    border: 2px solid orange;
}