.aboutContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: url("../../assets/image/aboutUs.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FAFAFA;
    filter: brightness(0.8);
    margin: 1rem 0;
}

.aboutBox {
    display: flex;
    flex-direction: column;
}
.aboutCount {
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: start;
    margin-bottom: 1rem;
    @media only screen and (min-width: 900px) {
        grid-template-columns: auto auto auto;
    }
}
.countBox {
    margin: 0 2rem;
    @media only screen and (min-width: 900px) {
        margin: 0 2rem;
    }
}