.aboutContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: url("../../assets/image/aboutUs.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FAFAFA;
    filter: grayscale(0.8)
}
.aboutTitle {
    display: flex;
    justify-content: center;
}
.aboutBox {
    display: flex;
    flex-direction: column;
}
.aboutCount {
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: start;
    margin-bottom: 1rem;
    @media only screen and (min-width: 900px) {
        grid-template-columns: auto auto auto;
    }
}
.btnMore {
    padding: 10px;
    background-color: #FAFAFA;
    color: black;
    width: 120px;
    border-radius: 10px;
    text-align: center;
}
.btnMore:hover {
    box-shadow: 0 8px 6px -6px black;
}
.countBox {
    margin: 0 2rem;
    @media only screen and (min-width: 900px) {
        margin: 0 2rem;
    }
}