
.dashboardTitle {
    display: flex;
    justify-content: flex-start;
    @media only screen and (min-width: 900px) {
        justify-content: center;
    }
}
.iptText {
    margin: 10px;
    @media only screen and (min-width: 900px) {
        margin: 0 10px;
    }
}
.searchJob {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @media only screen and (min-width: 900px) {
        justify-content: center;
        flex-direction: row;
    }
}
.btnSearch {
    background-color: orange;
    width: 150px;
    text-align: center;
    color: #FAFAFA;
    padding: 3px 10px;
    margin: 0 12px;
    @media only screen and (min-width: 900px) {
        margin: unset;
    }
}