.insightContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.insightTitle {
    display: flex;
    justify-content: center;
}
.insightList {
    border: 1px solid blue;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    @media only screen and (min-width: 1180px) {
        grid-template-columns: auto auto auto auto;
    }
}
.listBox {
    border: 1px solid red;
    background-size: cover;
    height: 50vh;
    width: 90vw;
    background-position: center center;
    margin: 10px;
    @media only screen and (min-width: 1180px) {
        margin: 20px 10px;
        height: 250px;
        width: 250px;
        position: relative;
        cursor: pointer;
    }
}
#pic1 {background-image: url("../../assets/image/insight/pic1.jpg");}
#pic2 {background-image: url("../../assets/image/insight/pic3.jpg");}
#pic3 {background-image: url("../../assets/image/insight/pic4.jpg");}
#pic4 {background-image: url("../../assets/image/insight/pic5.jpg");}

.listBox:hover .description {
    display: block;
    position: absolute;
    color: #FAFAFA;
    background: rgba(223, 170, 73, 0.5);
    height: -webkit-fill-available;
    padding: 10px;
}
.description {
    display: none;
}
